<!DOCTYPE html>
<html>
<head>
  <title>Balto Consultation - Activity level</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <h2>What is <%= pet_name %>'s activity level?</h2>
<form id="activity-level-form">
  <input type="radio" name="activity-level" value="Lazy" required> Lazy<br>
  <input type="radio" name="activity-level" value="Normal"> Normal<br>
  <input type="radio" name="activity-level" value="Very active"> Very active
  <br><br>
  <div id="stimulation" style="display:none;">
    <h3>On a typical day, how much do you engage in stimulating activities with <%= pet_name %> such as playing, training sessions, or socializing with other dogs?</h3>
      <input type="radio" name="stimulation" value="Very rarely">Very rarely<br>
      <input type="radio" name="stimulation" value="Occasionally">Occasionally<br>
      <input type="radio" name="stimulation" value="Fairly often">Fairly often<br>
      <input type="radio" name="stimulation" value="Daily">Daily<br>
  </div>
  <br><br>
  <button type="submit" id="submit-activity-level">Submit</button>
</form>

<script>
    $(document).ready(function(){
      // Show the recovery question all the time
      $("#stimulation").show();
    });

    $("#submit-activity-level").click(function(e){
      e.preventDefault();
      var activity_level = $("input[name='activity-level']:checked").val();
      var stimulation = $("input[name='stimulation']:checked").val();
      // Send a POST request to the server with the form data
      $.ajax({
        type: "POST",
        url: "/activity_level",
        data: {activity_level: activity_level, stimulation: stimulation},
        success: function(){
          window.location.href = '/food';
        }
      });
    });
</script>

</body>
</html>